{% extends "app/base.html" %}

{% block content %}
    <h1>Homepage</h1>

    <div class="b-row">
        <div class="b-col b-col_small_12 b-col_medium_8 b-col_large_9">
            <div class="b-typeset">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem
                Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х
                годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых
                используется Lorem Ipsum.
            </div>
        </div>
        <div class="b-col b-col_small_12 b-col_medium_4 b-col_large_3">
            {{ form_render(form)|safe }}
        </div>
    </div>
{% endblock %}
