<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ preload(asset('build/css/app.css')) }}">
    {{ render_meta()|safe }}
</head>
<body>
<div class="b-wrapper">
    <div class="b-row">
        <div class="b-col b-col_small_12">
            {% block breadcrumbs %}
                {% include "_breadcrumb.html" %}
            {% endblock breadcrumbs %}

            {% block flash %}
                {% include "_flash.html" %}
            {% endblock %}

            {% block main %}
                {% block content %}{% endblock %}
            {% endblock %}
        </div>
    </div>

    <div class="b-row">
        <div class="b-col b-col_small_12">
            <div class="b-footer">
                <div>© 2016 company. Все права защищены.</div>
                <div>Сайт разработан - <a href="http://studio107.ru/">Студия 107</a></div>
            </div>
        </div>
    </div>
</div>
<script src="{{ preload(asset('build/js/app.js')) }}"></script>
</body>
</html>
